.header{
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 100;
}

.main-nav{
    font-size: 1.4rem;
    background-color: rgba(0,0,0,0.9);
    color: #f5f5f7;
    height: 48px;
}

.main-nav__product{
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.wrap-ul__product ul{
    display: contents;
}

.wrap-ul > ul > li{
    list-style: none;
}

.main-nav a{
    color: #f5f5f7;
    text-decoration: none;
}

.main-nav .grid{
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    
}

.fa-apple{
    font-size: 2rem;
}

.ip12{
    text-align: center;
    background-image: url(/assets/img/iphone_12_updated__jepm2xpxncuy_large.jpg);
    background-position: center;
    height: 628px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 48px;
}

.ip12__title{
    font-size: 5.6rem;
    padding-top: 50px;
    margin: 0;
}

.ip12__sub-title{
    font-size: 2.8rem;
    margin-top: 6px;
    margin-bottom: 0;
    font-weight: lighter;
}

.ip12__link{
    margin-top: 14px;
}

.ip12-pro{
    background-image: url(/assets/img/bg2.jpg);
    color: white;
    margin: 10px 0;
}

.video-promo{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.video-promo__video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.video-promo__logo{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.video-promo__logo a{
    padding-top: 5px;
    font-size: 2.1rem;
    text-decoration: none;
    color: black;
}

.another-product{
    color: black;
    background-color: white;
    top: 750px;
    width: 100%;
    text-align: center;
}

.another-product h2{
    font-size: 4rem;
    margin: 0;
}

.another-product p{
    font-size: 2.1rem;
}

.another-product__row1, .another-product__row2, .another-product__row3{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.ipad,.watch,.airtag,.arcade,.imac,.one{
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
}

.ipad{
    background-image: url(/assets/img/promo_ipad_pro__c529dk533k4m_large.jpg);
    color: white;
}

.watch{
    background-image: url(/assets/img/promo_watch_series_6_lte__f8lrasjnry2y_large.jpg);
    color: white;
}

.arcade{
    background-image: url(/assets/img/promo_arcade__e7ps46tldi62_large.jpg);
}

.airtag{
    background-image: url(/assets/img/promo_airtag__e6b73a64nno2_large.jpg);
}

.imac{
    background-image: url(/assets/img/promo_imac__crg641tip4q6_large.jpg);
}

.one{
    background-image: url(/assets/img/tile__cauwwcyyn9hy_large.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #FBFBFD;
}

.row{
    padding-top: 10px;
    flex-basis: 50%;
}

.row + .row{
    padding-left: 10px;
}

.content{
    padding-top: 50px;
}

.button-link{
    margin-top: 10px;
}

.button-link a{
    text-decoration: none;
    font-size: 2.1rem;
    color: #06c;
}

.button-link a + a{
    padding-left: 30px;
}

.fa-chevron-right{
    font-size: 15px;
}

.footer{
    background-color: #F5F5F7;
    text-align:start;
}

.footer__content{
    font-size: 1.2rem;
    padding: 20px 0;
}

.footer__content{
    list-style: none;
}

.footer__content li + li{
    padding-top: 10px;
}

.footer__links{
    display: flex;
}

.footer__links__col ul{
    margin: 0;
    padding: 0;
}

.footer__links__col li + li{
    padding-top: 10px;
}

.footer__links__col li{
    list-style: none;
}

.footer__links a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #515154;
}

.footer__links h3{
    font-size: 1.2rem;
}

.footer__links__col{
    flex-basis: 25%;
}

.the-last{
    padding-top: 100px;
}

.the-last__find-retailer{
    font-size: 1.2rem;
    color:#8f8f95;
}

.the-last__find-retailer a{
    color: #06c;
    text-decoration: none;
}

.the-last__copyright{
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
}

.the-last__copyright ul{
    margin: 0;
    padding: 0;
    padding-left: 30px;
}

.the-last__copyright li{
    display: inline-block;
    list-style: none;
}

.the-last__copyright li + li{
    margin-left: 10px;
}

.the-last__copyright p{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    color:#8f8f95;

}

.the-last__copyright a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #535356;
}

.the-last__block1{
    display: flex;
}


/* width < 740px */

@media only screen and (max-width: 46.1875em){
    .main-nav .grid{
        justify-content:unset
    }

    .main-nav__button{
        width: 44%;
        margin-left: 15px;
    }

    .main-nav__logo{
        width: 50%;
    }

    .main-nav__product{
        display: block;
        position: absolute;
        background-color: black;
        top: 48px;
        width: 100%;
        height: 0vh;
        transition: height linear 0.5s;
    }

    .nav-button-checked:checked ~ .main-nav__product{
        height: 100vh;
    }

    .nav-button-checked:checked ~ .main-nav__product > .wrap-ul > .search-bar > input{
        height: 30px;
        opacity: 1;
    }

    .nav-button-checked:checked ~ .main-nav__product > .wrap-ul > ul > li{
        opacity: 1;
    }

    .search-bar{
        text-align: center;
        width: 100%;
        padding: 10px 10px;
    }

    .search-bar > input{
        width: 100%;
        height: 0px;
        border-radius: 5px;
        border-style: none;
        font-size: 1.7rem;
        opacity: 0;
        color: #fff;
        background-color: #1D1D1F;
        outline: none;
        transition: height linear 0.5s , opacity linear 0.4s;
    }
    
    ::placeholder {
        color: #6e6e73;
        opacity: 1;
    }
    
    :-ms-input-placeholder {
        color: #6e6e73;
    }
    
    ::-ms-input-placeholder {
        color: #6e6e73;
    }

    .wrap-ul > ul > li{
        list-style: none;
        margin-top: 20px;
        opacity: 0;
        transition: opacity linear 0.6s;
    }

    .fa-search{
        display: none;
    }

    .ip12{
        background-image: url(/assets/img/responsive/bg1.jpg);
    }

    .ip12-pro{
        background-image: url(/assets/img/responsive/iphone_12_pro_us__e5oyysg4k0ya_small_2x.jpg);
    }

    .ip12__title, .content{
        font-size: 3.2rem;
    }
    
    .ip12__sub-title{
        font-size: 1.9rem;
    }

    .button-link a{
        font-size: 1.7rem;
    }

    .another-product__row1, .another-product__row2, .another-product__row3{
        flex-direction: column;
        padding: 0;
    }

    .row + .row{
        padding-left: 0;
    }

    .another-product h2{
        font-size: 3.7rem;
    }

    .another-product p{
        font-size: 1.9rem;
    }

    .ipad{
        background-image: url(/assets/img/responsive/promo_ipad_pro__c529dk533k4m_small_2x.jpg);
        background-size: cover;
    }

    .imac{
        background-image: url(/assets/img/responsive/promo_imac__crg641tip4q6_small_2x.jpg);
        background-size: cover;
    }

    .arcade{
        background-image: url(/assets/img/responsive/promo_arcade__e7ps46tldi62_small.jpg);
        background-size: cover;
    }

    .one{
        background-image: url(/assets/img/responsive/tile__cauwwcyyn9hy_small.jpg);
    }

    .airtag{
        background-image: url(/assets/img/responsive/promo_airtag__e6b73a64nno2_small.jpg);
        background-size: cover;
    }
}
